<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Filmes</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Cinema: Filmes</h1>
            </header>

            <div class="w3-container">
                    <table class="w3-table-all">
                        <tr>
                            <th>Título</th>
                            <th>Duração</th>
                        </tr>
                        {% for entry in data %}
                        <tr>
                            <td><a href="/filmes/{{entry.title.value}}">{{ entry.title.value }}</a></td>
                            <td>{{ entry.duration.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>

            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024 in {{tempo}}</h5>
            </footer>
        </div>
    </body>
</html>