<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>Grupos</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/w3.css') }}"/>
    </header>
    <body>
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h1>Tabela Periódica: Grupos</h1>
            </header>

            <div class="w3-container">
                    <table class="w3-table-all">
                        <tr>
                            <th>Número do Grupo</th>
                            <th>Nome do Grupo</th>
                        </tr>
                        {% for entry in data.data %}
                        <tr>
                            <td><a href="/grupos/{{entry.s.value.split('#')[1]}}">{{ entry.number.value }}</a></td>
                            <td><a href="/grupos/{{entry.s.value.split('#')[1]}}">{{ entry.name.value }}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>

            <footer class="w3-container w3-purple">
                <h5>Gerado por RPCW2024 in {{data.tempo}}</h5>
            </footer>
        </div>
    </body>
</html>